---
import { site } from "../content/site";
---
<header class="header">
  <div class="container">
    <strong>{site.name}</strong>
    <nav>
      <a href="/">Home</a>
      <a href="/what-i-do/">What I Do</a>
      <a href="/projects/">Projects</a>
      <a href="/deep-dives/">Deep Dives</a>
      <a href="/toolbox/">Toolbox</a>
      <a href="/contact/">Contact</a>
    </nav>
  </div>
</header>
